#prepare-clear {
  margin-left: 2em;
}

iframe {
  border: 0;
  left: -24em;
  height: 16em;
  position: absolute;
  top: -16em;
  width: 24em;
}

.footer {
  margin-top: 3em;
}

.footer .jumbotron {
  margin-bottom: 0;
}
